@model IEnumerable<LibraryData.Models.Author>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Đọc Sách Trực Tuyến</h1>
    <button class="btn-read" onclick="openBook()">Đọc Sách</button>
</div>

<script>
    // JavaScript để điều hướng đến trang đọc sách
    function openBook() {
        window.location.href = "https://online.fliphtml5.com/eohou/bonj/#p=6";
    }
</script>
<h1>Index</h1>

<p>
    <a asp-controller="Author" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth)
            </td>
            <td>
                <a asp-controller="Author" asp-action="Details" asp-route-id="@item.AuthorId">Details</a>
                <a asp-controller="Author" asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a>
                <a asp-controller="Author" asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
